arrow==1.2.2
attrs==23.1.0
binaryornot==0.4.4
botcity-framework-base==0.2.2
botcity-framework-core==0.2.9
botcity-maestro-sdk==0.1.5
certifi==2021.10.8
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
cookiecutter==1.7.3
et-xmlfile==1.1.0
exceptiongroup==1.1.3
h11==0.14.0
idna==3.3
Jinja2==3.1.2
jinja2-time==0.2.0
# Editable install with no version control (LoginProdTasy==1.0)
-e c:\botcityphilips\automationtasksphilips\loginprodtasy
# Editable install with no version control (LoginSenior==1.0)
-e c:\botcityphilips\automationtasksphilips\loginsenior
# Editable install with no version control (LoginTasy==1.0)
-e c:\botcityphilips\automationtasksphilips\logintasy
MarkupSafe==2.1.1
MouseInfo==0.1.3
numpy==1.22.3
opencv-python==4.5.5.64
openpyxl==3.0.10
outcome==1.2.0
pandas==1.4.2
Pillow==9.1.0
poyo==0.5.0
# Editable install with no version control (PreviewHours==1.0)
-e c:\botcityphilips\automationtasksphilips\previewhours
PyAutoGUI==0.9.53
pycparser==2.21
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.27
PySocks==1.7.1
python-dateutil==2.8.2
python-slugify==6.1.2
python-xlib==0.31
pytweening==1.0.4
pytz==2022.1
requests==2.27.1
robotframework==6.1.1
robotframework-pythonlibcore==4.2.0
robotframework-seleniumlibrary==6.1.1
schedule==1.2.0
selenium==4.11.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
text-unidecode==1.3
trio==0.22.2
trio-websocket==0.10.3
urllib3==1.26.9
wsproto==1.2.0
xlrd==2.0.1
